<html>
  <head>
    {% if title %}
    <title>{{title}} - Dark IB</title>
    {% else %}
    <title>Dark Image Board.</title>
    {% endif %}
    <link href="/static/css/main.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div><h4>Dark-IB:<h4>
      <a href="/">Main Page</a>
      <a href="/new">New Images</a>
      <a href="/about">About</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    <div id="footer">Powered by dark.</div>
  </body>
</html>
