{% extends "base.html" %}
{% block content %}  
    <table id="img_info">
        <tr>
            <td class="img_info">
                <img src="/file/{{ img.md5_hash }}"  width="600px"/>
            </td>

            <td class="img_info">
                <h4>Details:</h4>
                <div id="img_info_text">
                    Size: {{ img.height }} x {{ img.width }}.<br/>
                    Uploaded: {{ img.date_upload.strftime("%H:%M %d.%m.%Y") }} <br/>
                    <br/>
                    MD5: {{ img.md5_hash }}<br/>
                 </div>
            </td>
        </tr>
    </table>
{% endblock %}
