{% extends "base.html" %}
{% block content %}
    <h3>Welcome to Dark Image Board.</h3>
    
    <div>
        <h4>Last added images:</h4>
        {% for i in img_last %}
            {% include 'img_thumbnail.html' %}
        {% endfor %}
    </div>

    <div>
        <h4>Random images:</h4>
        {% for i in img_rand %}
            {% include 'img_thumbnail.html' %}
        {% endfor %} 
    </div>

   <div>
        <h4>Best image of the week:</h4>
        <div> IMG 1 </div>
        <div> IMG 2 </div>
        <div> IMG 3 </div>
    </div>    
    
       
    <div>
        <h4>Best image of the all time:</h4>
        <div> IMG 1 </div>
        <div> IMG 2 </div>
        <div> IMG 3 </div>
    </div>
    
{% endblock %}
